{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>BLOOD BANK </title>

	<!-- Styles -->
	<link rel='stylesheet' href="{% static "css/bootstrap.min.css" %}">
	<link rel='stylesheet' href="{% static "css/animate.min.css" %}">
	<link rel='stylesheet' href="{% static "css/font-awesome.min.css" %}">
	<link rel='stylesheet' href="{% static "css/style.css" %}"/>

	<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<!-- Favicon -->
	<link rel="shortcut icon" href="#">
</head>
<body>
<!-- Begin Hero Bg -->
<div id="parallax">
</div>
<!-- End Hero Bg
	================================================== -->
<!-- Start Header
	================================================== -->
<header id="header" class="navbar navbar-expand navbar-inverse navbar-fixed-top" role="banner">
<div class="container-fluid">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<!-- Your Logo -->
		<a href="#hero" class="navbar-brand">BLOOD BANK <span style='color:red;' ><i class="fas fa-tint" style='font-size:50px;'></i><span></a>
	</div>
	<!-- Start Navigation -->
	<nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
	<ul class="nav navbar-nav">
		<li>
		<a href="#hero">Home</a>
		</li>
		<li>
		<a href="#about">About</a>
		</li>
		<li>
		<a href="#gallery">Our Doctors</a>
		</li>
		<li>
		<a href="#slider">Testimonials</a>
		</li>
		<li>
		<a href="#faq">FAQ</a>
		</li>
		<li>
		<a href="#contactarea">Contact</a>
		</li>
		</ul>
		<ul class='navbar-nav ml-auto' style='margin-top:2.5%;'>

		<a class='btn btn-danger nav-link' href="{% url "Myapp:donor" %}"> <i class="fas fa-tint"> </i>Donate Now!!</a>

		</ul>


	</nav>
</div>
</header>

<!-- Credits
=============================================== -->
<!-- Bootstrap core JavaScript
	================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/waypoints.min.js" %}"></script>
<script src="{% static "js/jquery.scrollTo.min.js" %}"></script>
<script src="{% static "js/jquery.localScroll.min.js" %}"></script>
<script src="{% static "jquery.magnific-popup.min.j" %}"></script>
<script src="{% static "js/validate.js" %}"></script>
<script src="{% static "js/common.js" %}"></script>
<script>
	$(document).ready(function(){
		$('#id_Name').attr("pattern","[A-Za-z]{2,}");
		$('#id_Name').attr("title","Please Use Characters only");
	});
</script>
</body>
</html>
{% block body_block %}

{% endblock %}
