{% load staticfiles%}
<div class="col-md-6">
  <form method="post">
    <input type="search" placeholder='Search for donor in your city..' class='form-control'>
    <input type="submit" class='btn btn-success' value="Search Donor">
  </form>
</div>
{% block search_donor %}

{% endblock %}
